<footer>
  <hr>
  <div id="socials">
    <a href="https://www.youtube.com/@garagecrew2423">
      <div id="youtube">
        <img src="/assets/img/youtube-icon.svg" alt="Youtube Icon">
      </div>
    </a>
    <a href="https://github.com/James51332">
      <div id="github">
        <img src="/assets/img/github-mark.svg" alt="Octocat Icon">
      </div>
    </a>
    <a href="https://discord.gg/Aakd4VVB6F">
      <div id="discord">
        <img src="/assets/img/discord-icon.svg" alt="Discord Icon">
      </div>
    </a>
  </div>
</footer>